body {
	background: #FFFFFF;
}

.meter-li {
	padding: 0px !important;
}

.table {
	font-family: "Helvetica Neue","Helvetica","Arial","sans-serif" !important;
	font-size: 14px !important;
}

.panel-heading {
	background-color: #f5f5f5 !important;
	padding: 5px 10px !important;
	color: #2ba6cb !important;
}

.panel-title {
	font-size: 14px !important;
}

.bold {
	font-weight: bold 
}

.system-info-table {
	width: 100% !important;
	border: 0px !important;
}

.label-info {
	background-color: #39CCCC !important;
}

.process-command {

}

.meter-container {
	display: table;
	table-layout:fixed;
	width: 100%;
}

.meter-row {
	display: table-row;
}

.label-alert {
	background-color: #f04124 !important;
}

.info-alert {
	color: #f04124 !important;
	font-weight: bold;
}

.label-warning {
	background-color: #f08a24 !important;
}

.info-warning {
	color: #f08a24 !important;
}

.label-normal {
	background-color: #008cba !important;
}

.info-normal {
	color: #008cba !important;
}

.jqstooltip {
	width: auto !important;
	height: auto !important;
}

.meter-label {
	display: table-cell;
	text-align: center;
	width: 20px;
	vertical-align:bottom;
	padding: 1px;
	font-size: 12px;
	border: 1px solid #f6f6f6;
	/*border-left: 1px solid #f6f6f6;*/
	/*background-color: red;*/
}

.meter-value {
	display: table-cell;
	text-align: left;
	padding-left: 10px !important;
	width: 120px;
	font-size: 12px;
	vertical-align:bottom;
	padding: 1px;
	border: 1px solid #f6f6f6;
	/*background-color: red;*/
}

.meter {
	display: inline-block !important;
	clear: none !important;
	/*
	-webkit-border-radius: 5px !important;
	border-radius: 5px !important;*/
}

.memory-used {
	background-color: #43ac6a !important;
	/*-webkit-border-radius: Opx !important;
	border-radius: 0px !important;
	-webkit-border-top-left-radius: 5px !important;
	border-top-left-radius: 5px !important;
	-webkit-border-bottom-left-radius: 5px !important;
	border-bottom-left-radius: 5px !important;*/
}

.memory-buffers {
	background-color: rgb(43, 166, 203) !important;
	/*-webkit-border-radius: Opx !important;
	border-radius: 0px !important;*/
}

.memory-cache {
	background-color: #f08a24 !important;
	/*-webkit-border-radius: Opx !important;
	border-radius: 0px !important;
	-webkit-border-top-right-radius: 5px !important;
	border-top-right-radius: 5px !important;
	-webkit-border-bottom-right-radius: 5px !important;
	border-bottom-right-radius: 5px !important;*/
}